@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #000000;
  color: #ffffff;
}

.card {
  background-color: #a299ff;
  background-image: radial-gradient(
      at 80% 50%,
      hsla(289, 87%, 64%, 0) 0px,
      transparent 50%
    ),
    radial-gradient(at 71% 72%, hsla(230, 65%, 63%, 1) 0px, transparent 50%);
}
